nav {
	background-color: #0b090a;
	width: 12%;
	height: 90vh;
	padding: 50px 20px;
	color: white;
	border-right: 1px solid #ffffff;
}

ul {
	list-style: none;
}

#main-nav {
	margin-bottom: 40px;
}

#main-nav li {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 600;
	display: flex;
	align-items: center;
}

#main-nav li span {
	margin-left: 10px;
}

#playlists {
	font-size: 24px;
	font-weight: 600;
}

#playlists-list {
	margin-top: 20px;
	margin-bottom: 20px;
}

#playlists-list li {
	font-size: 18px;
	text-align: left;
	font-weight: 500;
	margin-bottom: 10px;
	color: #d3d3d3;
}

#playlists-list li:hover {
	color: white;
	cursor: pointer;
}

#main-nav li:hover {
	color: #e5383b;
	transition: 0.25s;
	cursor: pointer;
}

#main-nav li {
	transition: 0.25s;
}
