.dropdown {
	position: absolute;
	top: 28px;
	width: 200px;
	background-color: #161a1d;
	right: 0px;
	z-index: 3;
	text-transform: uppercase;
}

.dropdown-item {
	padding: 7px 5px;
	font-weight: 600;
	display: flex;
	align-items: center;
}

.dropdown-item:hover {
	transition: 0.25s;
	cursor: pointer;
	background-color: #b1a7a6;
}

/* Song list */
.title {
	font-size: 24px;
	font-weight: 600;
	color: white;
}

.song-list {
	margin: 30px 0px;
	overflow: visible;
}

/* Song Card */

.person-card img {
	border-radius: 50%;
}

.card img {
	width: 100%;
	height: 65%;
	margin-bottom: 10px;
}
.song-card img {
	margin-bottom: 15px;
	border-radius: 5%;
}

.card {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	width: 175px;
	height: 250px;
	background-color: #161a1d;
	margin-right: 30px;
	border-radius: 5px;
	padding: 15px 15px;
}

.card:hover {
	cursor: pointer;
	filter: brightness(1.1);
}

.card .title {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;
}

.card .side {
	color: #d3d3d3;
}
