#search {
	background: #a4161a;
	background: linear-gradient(180deg, #a4161a 0%, #0b090a 10%);
	width: 100%;
	overflow-y: scroll;
	padding: 20px;
}

#search-div {
	width: 50%;
	margin: auto;
	margin-top: 30px;
	position: relative;
}

#search-bar {
	background-color: #f5f3f4;
	width: 100%;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 16px;
	color: #0b090a;
	border: none;
	padding-right: 40px;
}
#search-icon {
	position: absolute;
	right: 10px;
	top: 7px;
	transition: 0.25s;
}

#search-icon:hover {
	cursor: pointer;
	color: #a4161a;
	transition: 0.25s;
}

#empty-text {
	color: #f5f3f4;
	font-weight: 700;
	font-size: 32px;
	margin: auto;
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
