#profile {
	overflow-y: scroll;
	width: 100%;
	height: 90vh;
}

#user-info {
	width: 100%;
	background-color: #161a1d;
	height: 300px;
	display: flex;
	align-items: center;
	padding: 20px;
}

#user-pfp {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	box-shadow: 0px 0px 50px 5px rgba(102, 7, 8, 0.98);
}

#user-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	margin-left: 20px;
	color: #ffffff;
}

#username {
	font-size: 85px;
	margin-left: 0px;
	margin-bottom: 20px;
	margin-top: 5px;
}

.lean-text {
	font-weight: 200;
	color: #f5f3f4;
	transition: 0.2s;
}

.lean-text:hover {
	text-decoration: underline;
	transition: 0.2s;
	cursor: pointer;
}

#user-main {
	background: #660708;
	background: linear-gradient(180deg, #161a1d 0%, #0b090a 50%);
	padding: 20px;
}
